@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  font-size: 5rem;
  color: #22cbfa;
  font-family: "Alfa Slab One", cursive;
}

h1 span {
  font-size: 6rem;
  color: #393e47;
}
p {
  font-size: 2rem;
  color: #fa9522;
}
p span {
  font-size: 3rem;
  color: #393e47;
}

button {
  font-size: 2rem;
  padding: 1.5rem;
  border: none;
  background: #22cbfa;
  color: #f8f8f8;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 3;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 3rem;
}
input {
  margin: 0 3rem;
  border: 1px solid #c5c5c5;
  color: #5d6064;
  font-size: 2rem;
}
input[type="text"] {
  padding: 1rem;
  border-radius: 0.25rem;
}
input[type="color"] {
  border-radius: 0.25rem;
  width: 75px;
  height: 60px;
  cursor: pointer;
}

.div {
  min-width: 550px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-top: 3rem;
}

.div h2 {
  color: #f8f8f8;
  -webkit-text-stroke: 1px rgb(0, 3, 37);
  font-size: 4rem;
  font-family: "Alfa Slab One", cursive;
}
